.error {
    text-align: center;
    margin: 160px auto
}

.error-title {
    color: #262626;
    font-weight: 600;
    font-size: 28px
}

.error-body,
.error-title {
    margin-bottom: 50px
}

.error-img {
    width: 480px
}

.error-description {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px
}

.error-back-btn {
    cursor: pointer;
    width: 300px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: radial-gradient(75.9% 488.28% at 24.1%, at 100%, #e87800 0, #fa8c16 100%);
    background: radial-gradient(75.9% 488.28% at 24.1% 100%, #e87800 0, #fa8c16 100%);
    border-radius: 100px;
    outline: none;
    border: none;
    margin-bottom: 100px
}

.error-icon-back {
    fill: #fff;
    margin-right: 20px
}

@media (max-width:992px) {
    .error-img {
        width: 330px
    }
    .error {
        text-align: center;
        margin: 140px auto
    }
}


.img_user[data-v-1c02541c] {
    border-radius: 50%
}

.text-authen[data-v-1c02541c] {
    margin-left: 17px;
    flex-shrink: 0
}

.icon-close-card[data-v-1c02541c] {
    float: right;
    transform: translate(-1px, -8px);
    width: 12px;
    cursor: pointer
}

.history-list-wrap[data-v-1c02541c] {
    display: flex;
    flex-direction: column
}

.show-more[data-v-1c02541c] {
    text-align: center;
    display: block;
    color: #000;
    text-decoration: none
}

.show-more[data-v-1c02541c]:hover {
    color: #fa8c16
}

@media (max-width:992px) {
    .header__option--authen[data-v-1c02541c] {
        right: -63px;
        top: 80%
    }
    .header-delivery--mobile[data-v-1c02541c] {
        display: flex;
        align-items: center;
        margin-left: -56px
    }
    .desktop-logo[data-v-1c02541c],
    .header-delivery--desktop[data-v-1c02541c] {
        display: none
    }
    .header-phone[data-v-1c02541c] {
        padding: 33px 0
    }
    .img-custom[data-v-1c02541c] {
        transform: translate(39px)
    }
    .cart-icon-nologin[data-v-1c02541c] {
        transform: translate(20px, 5px)
    }
    .icon-cart-login-have-item[data-v-1c02541c] {
        margin-left: 37px;
        width: 39px;
        height: 40px;
        transform: translate(4px, 1px)
    }
}

@media (min-width:992px) {
    .header-delivery--mobile[data-v-1c02541c] {
        display: none
    }
    .desktop-logo[data-v-1c02541c],
    .header-delivery--desktop[data-v-1c02541c] {
        display: block
    }
    .mobile-logo[data-v-1c02541c] {
        display: none
    }
    .img-custom[data-v-1c02541c] {
        transform: translate(35px)
    }
    .cart-icon-nologin[data-v-1c02541c] {
        transform: translate(20px, 4px)
    }
    .icon-cart-login-have-item[data-v-1c02541c] {
        margin-left: 37px;
        width: 39px;
        height: 40px;
        transform: translate(4px, 1px)
    }
}

.cart-icon-nologin[data-v-1c02541c] {
    width: 70px
}

.img_user[data-v-1c02541c] {
    width: 50px;
    height: 50px
}

.img-custom[data-v-1c02541c] {
    cursor: pointer
}

.name_user[data-v-1c02541c] {
    width: 102px;
    color: #fff;
    font-weight: 600;
    line-height: 14px;
    font-size: 14px;
    margin-left: 28px;
    margin-right: -72px;
    height: 14px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden
}

.header__option--authen[data-v-1c02541c] {
    position: absolute;
    top: 70%;
    background: #fff;
    padding: 22px;
    transform: translate(-102px, 10px);
    box-shadow: 0 5px 12px rgb(0 0 0/15%);
    border-radius: 10px;
    font-size: 14px
}

.header__option--authen-item[data-v-1c02541c] {
    display: flex;
    align-items: center;
    color: #000;
    position: relative;
    font-size: 14px;
    cursor: pointer
}

.text-authen[data-v-1c02541c]:hover {
    color: #fa8c16;
    text-decoration: none
}

.header__option--authen-item-history[data-v-1c02541c] {
    display: flex;
    flex-direction: row;
    align-items: center
}

.history-list[data-v-1c02541c] {
    list-style: none;
    margin-top: 7px;
    overflow: scroll;
    max-height: 300px
}

.txt-ref[data-v-1c02541c] {
    color: #999;
    text-decoration: none
}

.txt-ref[data-v-1c02541c]:hover {
    color: #fa8c16
}

.navbar .navbar-nav .nav-item.active a[data-v-1c02541c]:after {
    background: var(--white)
}


.back {
    text-align: center;
    color: orange;
    font-weight: 600;
    margin-bottom: 30px
}

.back,
.icon-custom {
    cursor: pointer
}


.use-now[data-v-5c47adee] {
    color: #fa8c16;
    font-size: 16px;
    cursor: pointer
}

.input-group-prepend .active[data-v-5c47adee] {
    background: var(--orange-2)
}

.form-control[data-v-5c47adee] {
    border: none;
    background: transparent;
    padding: 0 11px
}

.text-apply[data-v-5c47adee] {
    color: #fff
}

.btn.btn--smoky-gray.btn--radius-right-4[data-v-5c47adee] {
    height: 100%;
    box-sizing: content-box
}

.tch-delivery__input[data-v-5c47adee] {
    padding: 0;
    height: unset
}

.cam-scan[data-v-5c47adee] {
    padding: 0 12px
}


.test[data-v-40ec45a4] {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: grey
}

.modal-dialog-pickup[data-v-40ec45a4] {
    position: absolute;
    width: 94%;
    left: 3%;
    top: -12%
}

.modal-body-pickup[data-v-40ec45a4] {
    padding-top: 0
}

.loading[data-v-40ec45a4] {
    width: 20px
}

.modal-content[data-v-40ec45a4] {
    position: relative
}

.address-autocomplete[data-v-40ec45a4] {
    width: 94%;
    position: absolute;
    left: 3%;
    background: #fff;
    box-shadow: 0 0 16px rgb(0 0 0/12%);
    border-radius: 4px;
    padding-left: 16px;
    top: calc(100% - 2px);
    z-index: 1;
    top: 85%
}

.address-title[data-v-40ec45a4] {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000
}

.address-item[data-v-40ec45a4] {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative
}

.address-item[data-v-40ec45a4]:after {
    content: "";
    height: 1px;
    background: #e4e4e4;
    width: 90%;
    position: absolute;
    bottom: 0;
    top: -22%;
    left: 0
}

.list-delivery-method[data-v-40ec45a4] {
    justify-content: center
}

.deliery-method-card[data-v-40ec45a4] {
    cursor: pointer
}


@media (min-width:992px) {
    .modal-pickup-desktop {
        width: 28%;
        left: 49%;
        top: 10%;
        box-shadow: none
    }
}

@media (max-width:992px) {
    .modal-pickup-desktop {
        width: 74%;
        left: 49%;
        top: 10%;
        box-shadow: none
    }
}


.custom-icon[data-v-8bb0074a] {
    color: var(--orange-2);
    font-size: 24px;
    cursor: pointer
}

.card-product-quantity-config[data-v-8bb0074a] {
    display: flex;
    align-items: center
}


@media (max-width:375px) {
    .card-product-option-label[data-v-8bb0074a] {
        font-size: 14px
    }
    .card-product-option-item[data-v-8bb0074a] {
        margin: var(--space-6) var(--space-22)
    }
}

.tch-modal-dialog--custom-2.modal-dialog[data-v-8bb0074a] {
    position: absolute;
    min-height: unset;
    bottom: 0;
    width: 100%
}

.tch-modal-dialog--custom-2 .modal-content[data-v-8bb0074a] {
    min-height: unset
}

.modal-body[data-v-8bb0074a] {
    max-height: calc(100vh - 200px);
    overflow: scroll
}

#cardModal .modal-footer[data-v-8bb0074a] {
    bottom: 0
}

.custom-control-input[data-v-8bb0074a],
.custom-control-input:checked~.custom-control-label.tch-custom-radio[data-v-8bb0074a]:before,
.custom-control-label.tch-custom-radio[data-v-8bb0074a]:before,
.custom-radio .custom-control-input:checked~.custom-control-label.tch-custom-radio[data-v-8bb0074a]:after {
    top: 50%;
    transform: translateY(-50%)
}

.custom-control-input[data-v-8bb0074a] {
    left: -22px
}

.cart-modal[data-v-8bb0074a] {
    max-width: unset
}

.tch-product__image.card-product-info-image img[data-v-8bb0074a] {
    border-radius: var(--space-8)
}

#cardModal[data-v-8bb0074a] {
    padding-right: 0!important
}



.quantity-extra .decrease[data-v-8bb0074a],
.quantity-extra .increase[data-v-8bb0074a] {
    background: #e4e4e4;
    mask-size: 12px 12px;
    width: 24px;
    height: 24px;
    -webkit-mask-size: 12px 12px;
}

@media (min-width:576px) {
    .tch-modal-dialog--custom-2.modal-dialog[data-v-8bb0074a] {
        width: var(--space-410)
    }
    .cart-modal[data-v-8bb0074a] {
        max-width: var(--space-410)
    }
    .tch-modal-dialog--custom-2.modal-dialog[data-v-8bb0074a] {
        position: unset
    }
    .modal-body[data-v-8bb0074a] {
        overflow: unset;
        max-height: unset
    }
}


.login-modal[data-v-5d617810] {
    width: var(--space-420);
    border-radius: var(--space-8);
    padding-right: 0!important;
    height: unset
}

.img-login[data-v-5d617810] {
    height: var(--space-200);
    overflow: hidden
}

.img-login img[data-v-5d617810] {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.login-content[data-v-5d617810] {
    width: 100%;
    padding: 20px
}

.cover-input[data-v-5d617810] {
    height: var(--space-44);
    background: #fafafa;
    border: 1px solid #ededed;
    border-radius: var(--space-4);
    width: 100%;
    margin-bottom: var(--space-20)
}

.cover-input input[data-v-5d617810],
.cover-input input.focus-visible[data-v-5d617810],
.cover-input input[data-v-5d617810]:focus-visible {
    border: none;
    background: transparent;
    outline: none
}

.cover-input.has-error[data-v-5d617810],
.error-message[data-v-5d617810] {
    margin: var(--space-12)
}

.error-message[data-v-5d617810] {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f5222d
}

.phone-input[data-v-5d617810],
.region-code[data-v-5d617810] {
    height: var(--space-24)
}

.region-code[data-v-5d617810] {
    margin: 10px 0 10px 10px;
    padding-right: 16px;
    border-right: 1px solid #ededed
}

.welcome-login[data-v-5d617810] {
    margin-bottom: var(--space-12)
}

.logo-tch[data-v-5d617810] {
    margin-bottom: var(--space-32)
}

.phone-input[data-v-5d617810] {
    padding: 10px 16px
}

.login-btn[data-v-5d617810] {
    width: 100%;
    color: #fff
}

.cover-input-otp[data-v-5d617810] {
    width: 304px;
    margin: var(--space-8) 0
}

@media (max-width:992px) {
    #modalLogin[data-v-5d617810] {
        width: 95%;
        transform: translate(5px, 110px)
    }
}



.cover-img[data-v-43332af7] {
    width: 32px;
    height: 32px;
    margin-right: 12px
}

.cover-img img[data-v-43332af7] {
    width: 100%;
    height: 100%
}

#snackbar[data-v-43332af7] {
    visibility: hidden;
    min-width: 380px;
    height: 72px;
    margin-left: -125px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 100px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .25);
    border-radius: 8px
}

#snackbar.notification-title[data-v-43332af7] {
    color: #52c41a
}

#snackbar.error[data-v-43332af7] {
    margin: 0
}

#snackbar.error .notification-title[data-v-43332af7] {
    color: #f5222d
}

#snackbar.show[data-v-43332af7] {
    visibility: visible;
    -webkit-animation: fadein-data-v-43332af7 .5s, fadeout-data-v-43332af7 .5s 4s;
    animation: fadein-data-v-43332af7 .5s, fadeout-data-v-43332af7 .5s 4s
}

@-webkit-keyframes fadein-data-v-43332af7 {
    0% {
        right: 0;
        opacity: 0
    }
    to {
        right: 30px;
        opacity: 1
    }
}

@keyframes fadein-data-v-43332af7 {
    0% {
        right: 0;
        opacity: 0
    }
    to {
        right: 30px;
        opacity: 1
    }
}

@-webkit-keyframes fadeout-data-v-43332af7 {
    0% {
        right: 30px;
        opacity: 1
    }
    to {
        right: 0;
        opacity: 0
    }
}

@keyframes fadeout-data-v-43332af7 {
    0% {
        right: 30px;
        opacity: 1
    }
    to {
        right: 0;
        opacity: 0
    }
}


.searchModal[data-v-b2cb8ae2] {
    padding-right: 0!important;
    padding-left: 0!important
}

.card-product-note-item[data-v-b2cb8ae2] {
    background: #fafafa
}

.card-product-note-icon[data-v-b2cb8ae2] {
    color: #e4e4e4
}

.card-product-text[data-v-b2cb8ae2] {
    background: transparent
}

.tch-modal-dialog--custom-2.modal-dialog[data-v-b2cb8ae2] {
    width: 100%
}

.not-found span[data-v-b2cb8ae2] {
    font-size: var(--space-14);
    line-height: var(--space-22);
    color: var(--black-2)
}

@media (min-width:576px) {
    .tch-modal-dialog--custom-2.modal-dialog[data-v-b2cb8ae2] {
        max-width: 700px
    }
}

@media (min-width:768px) {
    .cover-product-item[data-v-b2cb8ae2] {
        margin-bottom: var(--space-20)!important
    }
}


.tch-product-img-border[data-v-05e960a2] {
    border-radius: var(--space-8);
    overflow: hidden
}

.cover-img img[data-v-05e960a2] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}


.tch-category-card-list[data-v-5abbf04c] {
    overflow-x: auto
}

.icon.search-product[data-v-5abbf04c] {
    color: #838387;
    width: var(--space-32);
    height: var(--space-32);
    border-radius: var(--space-8);
    background: #e3e3e3;
    margin-left: var(--space-32)
}

.tch-box__title.product-listing[data-v-5abbf04c] {
    display: flex;
    width: 100%;
    justify-content: space-between!important
}

@media (min-width:768px) {
    .tch-box__title.product-listing[data-v-5abbf04c] {
        justify-content: center!important
    }
}


.tch-modal-dialog--custom-2.tch-modal-dialog--spacing-150[data-v-5ac53c51],
.tch-modal-dialog--search.tch-modal-dialog--spacing-150[data-v-5ac53c51] {
    margin-top: 0
}

.modal-dialog.modal-dialog-pickup.tch-modal-dialog--custom-2.tch-modal-dialog--custom-header.tch-modal-dialog--spacing-100[data-v-5ac53c51] {
    z-index: 99!important
}

.cover-modal-address[data-v-5ac53c51] {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.tch-box__header.tch-box__header-spacing[data-v-5ac53c51] {
    padding: 0 var(--space-10)
}

.cover-listing[data-v-5ac53c51] {
    margin-top: 20px
}

@media (min-width:768px) {
    .cover-modal-address[data-v-5ac53c51] {
        display: block;
        margin: var(--space-70) auto
    }
}


	.suggest-nologin[data-v-2f0dc978] {
		margin: auto
	}
	
	.btn-suggest-nologin[data-v-2f0dc978] {
		width: 200px;
		background: radial-gradient(100% 488.28% at 0, at 100%, #e87800 0, #fa8c16 100%);
		background: radial-gradient(100% 488.28% at 0 100%, #e87800 0, #fa8c16 100%);
		box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
		border-radius: 100px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		margin: 10px auto auto;
		cursor: pointer
	}
	
	.suggest-txt[data-v-2f0dc978] {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: none
	}
	
	.suggest-icon[data-v-2f0dc978] {
		width: 15.24px;
		height: 20px;
		margin-right: 10px
	}
	
	.text-suggest-nologin[data-v-2f0dc978] {
		font-size: 16px;
		text-align: center;
		color: #666
	}
	
	@media (min-width:360px) {
		.suggest-txt[data-v-2f0dc978],
		.text-suggest-nologin[data-v-2f0dc978] {
			font-size: 14px
		}
	}
	
	
	.modal.show[data-v-2f0dc978] {
		display: block
	}
	
	
	.tch-product-content__title_scope[data-v-754dbf96] {
		width: 185px
	}
	
	
	.tch-blog-card__description-custom[data-v-3ec9d806] {
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		height: calc(var(--space-22)*3)!important
	}
	
	
	@media (max-width:992px) {
		.flex-column-custom {
			margin-left: -221px
		}
		.news-tab {
			width: 100%
		}
	}
	
	@media (min-width:992px) {
		.flex-column-custom {
			margin-left: 166px
		}
		.news-tab {
			justify-content: center;
			width: 50%
		}
	}
	
	.tch-box__title-news {
		padding-top: 10px
	}
	
	.news-tab {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		overflow-x: auto;
		border-radius: 100px;
		border: 1px solid #ededed;
		background: #fff;
		padding: 10px 30px;
		margin: auto;
		cursor: pointer
	}
	
	.news-tab-text {
		margin-right: 30px;
		color: rgba(38, 38, 38, .5);
		font-weight: 600;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		line-height: 30px;
		flex-shrink: 0;
		padding: 0 10px
	}
	
	.news-tab-text.active {
		background: radial-gradient(100% 488.28% at 0, at 100%, #e87800 0, #fa8c16 100%);
		background: radial-gradient(100% 488.28% at 0 100%, #e87800 0, #fa8c16 100%);
		box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
		border-radius: 100px;
		height: 32px;
		color: #fff;
		align-items: center
	}
	
	.custom-item {
		margin-top: 40px
	}
	
	.tch-box--blog {
		background: #fff!important
	}
	
	.tch-blog-card__description-custom {
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		height: calc(var(--space-22)*3)!important
	}
	
	.text-title {
		font-weight: 600;
		font-size: 30px
	}
	
	
	.tch-store-title {
		text-align: center;
		font-weight: 600;
		font-size: 28px;
		margin: 50px 0
	}
	
	.tch-store-text {
		margin-left: 12px
	}
	
	.store-address {
		line-height: 22px
	}
	
	.tch-store-district {
		padding-left: 0
	}
	
	.store-view-detail {
		margin-left: 30px
	}
	
	.tch-store-item {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		text-align: center;
		align-items: baseline;
		line-height: 37px
	}
	
	.tch-store-name {
		width: calc(25% - 10px);
		margin-right: 10px;
		cursor: pointer
	}
	
	.tch-store-item .active {
		background: #fa8c16;
		border-radius: 50px;
		color: #fff;
		padding: 3px 2px
	}
	
	.tch-store-name,
	.text-store-near {
		font-size: 16px;
		color: #fa8c16
	}
	
	.tch-store-near {
		margin-left: 20px
	}
	
	.tch-store-input {
		display: flex;
		background: #fff;
		border-radius: 4px;
		align-items: center;
		padding: 10px
	}
	
	.tch-store-district,
	.tch-store-input-info {
		width: 40%;
		height: 44px;
		border: 1px solid #ededed;
		border-radius: 4px;
		margin-right: 6px;
		padding-left: 10px
	}
	
	.input-store {
		width: 100%;
		height: 100%;
		border: none;
		outline: none
	}
	
	.tch-store-near {
		width: 20%
	}
	
	::-moz-placeholder {
		color: rgba(38, 38, 38, .3)
	}
	
	::placeholder {
		color: rgba(38, 38, 38, .3)
	}
	
	:-ms-input-placeholder {
		color: rgba(38, 38, 38, .3)
	}
	
	::-ms-input-placeholder {
		color: rgba(38, 38, 38, .3)
	}
	
	.tch-store-main-title {
		font-weight: 600;
		font-size: 18px;
		margin: 10px
	}
	
	.tch-store-main-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap
	}
	
	.input-store-option {
		height: 40vh
	}
	
	.tch-store-main-item {
		width: calc(50% - 10px);
		margin-right: 10px;
		margin-bottom: 24px;
		background: #fff;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
		border-radius: 8px;
		padding: 8px;
		cursor: pointer
	}
	
	.store-intro {
		display: flex;
		margin-left: 16px;
		line-height: 12px;
		align-items: center
	}
	
	.store-img {
		padding-top: 100px;
		width: 100px;
		background-size: cover;
		border-radius: 8px
	}
	
	.store-trademark {
		color: #838387;
		font-weight: 700;
		font-size: 10px
	}
	
	.store-info-item {
		margin-bottom: 0
	}
	
	.store-distance {
		color: rgba(38, 38, 38, .3);
		font-size: 14px
	}
	
	.store-view-link {
		color: #fa8c16;
		display: flex;
		width: 75%
	}
	
	.store-info {
		flex: 1;
		margin-left: 16px;
		line-height: 20px;
		line-height: 22px
	}
	
	.store-view-map:after {
		content: "";
		position: absolute;
		height: 15px;
		width: .6px;
		background: #fa8c16;
		transform: translate(14px, 20%)
	}
	
	@media (max-width:992px) {
		.tch-store-list {
			display: none
		}
		.tch-store-district {
			border: 1px solid #ededed;
			margin-right: 6px;
			padding-left: 10px
		}
		.store-address {
			height: 90px;
			line-height: 30px;
			overflow: hidden;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			display: -webkit-box
		}
		.tch-store-title {
			font-size: 17px;
			margin: 9px 0
		}
		.tch-store-input {
			flex-direction: column
		}
		.tch-store-district,
		.tch-store-input-info {
			width: 100%;
			margin-bottom: 10px
		}
		.tch-store-near {
			width: 100%;
			text-align: center
		}
		.tch-store-main-list {
			flex-direction: column
		}
		.tch-store-main-item {
			width: 100%;
			padding-bottom: 26px
		}
		.store-intro {
			align-items: flex-start
		}
		.store-info {
			line-height: 22px
		}
		.store-view-link {
			width: 142%;
			transform: translate(-103px, 7px)
		}
		.store-view-map:after {
			transform: translate(13px, 30%)
		}
		p {
			margin-bottom: 3px
		}
	}
	

	
	.icon-right[article] {
		transform: rotate(180deg);
		margin-left: 12px
	}
	
	@media (min-width:992px) {
		.custom[article],
		.custom-2[article] {
			width: 900px
		}
	}
	
	.custom[article] {
		background: #fff;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
		border-radius: 8px;
		padding: 50px
	}
	
	.custom-detail-header-news[article] {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 50px;
		cursor: pointer;
		justify-content: center
	}
	
	.tch-blog-card__description-custom[article] {
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		height: calc(var(--space-22)*3)!important
	}
	
	.custom-detail-txt-news[article] {
		margin-left: 8px;
		color: #f2994a!important;
		text-decoration: none!important;
		font-size: 18px
	}
