<!-- Detail order tracking  -->

<div class="container body-content" style="padding-top: 50px; padding-bottom: 60px;">
    <article class="card">
        <header class="card-header">Order ID: #UC-13487</header>
        <div class="card-body">
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong style="font-weight: bold;">Thời gian giao dự kiến:</strong> <br>12 Dec
                        2021 </div>
                    <div class="col"> <strong style="font-weight: bold;">Giao bởi:</strong> <br> Giang Võ | <i
                            class="fa fa-phone"></i> +84356781109 </div>
                    <div class="col"> <strong style="font-weight: bold;">Trạng thái:</strong> <br> Đang vận chuyển
                    </div>
                    <div class="col"> <strong style="font-weight: bold;">Tracking #:</strong> <br> BD045903594059 </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Xác
                        nhận đơn hàng</span> </div>

                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text">
                        Đang vận chuyển </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Đã giao
                        hàng</span> </div>
            </div>
            <div class="row pt-3">
                <div class="product-details mr-2 col-lg-8 m-auto">
                    <h6 class="mb-0">Chi tiết đơn hàng</h6>
                    <div class="d-flex justify-content-between"><span>Bạn đã đặt <b style="font-weight: bold;">4</b>
                            loại sản phẩm</span>
                        <div class="d-flex flex-row align-items-center"><span class="text-black-100">Sắp xếp
                                theo:</span>
                            <div class="price ml-2"><span class="mr-2" style="font-weight: bold;">Giá</span><i
                                    class="fa fa-angle-down ps-1"></i></div>
                        </div>
                    </div>
                    <hr>

                    <div style="overflow: auto; max-height: 400px; width: 100%;" class="m-auto">
                        <div class="d-flex justify-content-between align-items-center mt-3 p-2 mx-4 items rounded">
                            <div class="d-flex flex-row"><img class="rounded" src="/img/example_coffee.jpg"
                                    width="40">
                                <div class="ml-2">
                                    <h6 class=" d-block">Bạc ngon Xĩu</h6>
                                    <div class="spec">Vừa (L), Đá</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row" style="font-weight: 600;">x3</div>
                            <div class="d-flex flex-row align-items-center" style="font-weight: 500;"><span
                                    class="d-block" style="padding-right: 20px;">75.000VNĐ</span>&Tab;</div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3 p-2 mx-4 items rounded">
                            <div class="d-flex flex-row"><img class="rounded" src="/img/example_coffee.jpg"
                                    width="40">
                                <div class="ml-2">
                                    <h6 class=" d-block">Bạc ngon Xĩu</h6>
                                    <div class="spec">Vừa (L), Đá</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row" style="font-weight: 600;">x3</div>
                            <div class="d-flex flex-row align-items-center" style="font-weight: 500;"><span
                                    class="d-block" style="padding-right: 20px;">75.000VNĐ</span>&Tab;</div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3 p-2 mx-4 items rounded">
                            <div class="d-flex flex-row"><img class="rounded" src="/img/example_coffee.jpg"
                                    width="40">
                                <div class="ml-2">
                                    <h6 class=" d-block">Bạc ngon Xĩu</h6>
                                    <div class="spec">Vừa (L), Đá</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row" style="font-weight: 600;">x3</div>
                            <div class="d-flex flex-row align-items-center" style="font-weight: 500;"><span
                                    class="d-block" style="padding-right: 20px;">75.000VNĐ</span>&Tab;</div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3 p-2 mx-4 items rounded">
                            <div class="d-flex flex-row"><img class="rounded" src="/img/example_coffee.jpg"
                                    width="40">
                                <div class="ml-2">
                                    <h6 class=" d-block">Bạc ngon Xĩu</h6>
                                    <div class="spec">Vừa (L), Đá</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row" style="font-weight: 600;">x3</div>
                            <div class="d-flex flex-row align-items-center" style="font-weight: 500;"><span
                                    class="d-block" style="padding-right: 20px;">75.000VNĐ</span>&Tab;</div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3 p-2 mx-4 items rounded">
                            <div class="d-flex flex-row"><img class="rounded" src="/img/example_coffee.jpg"
                                    width="40">
                                <div class="ml-2">
                                    <h6 class=" d-block">Bạc ngon Xĩu</h6>
                                    <div class="spec">Vừa (L), Đá</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row" style="font-weight: 600;">x3</div>
                            <div class="d-flex flex-row align-items-center" style="font-weight: 500;"><span
                                    class="d-block" style="padding-right: 20px;">75.000VNĐ</span>&Tab;</div>
                        </div>
                    </div>

                    <hr>
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2  rounded">
                        <h5 style="font-weight: 600;"> Tổng tiền:</h5>
                        <h5 class="d-flex flex-row" style="font-weight: 600;">
                            <span style="color: green;">(Đã thanh toán)</span> &nbsp; 202.500VNĐ
                    </div>

                </div>
                </ul>
                <div class="align-center mt-3">
                    <a href="/order-tracking" class="btn btn-detail-order" data-abc="true"> <i
                            class="fa fa-chevron-left"></i> Trở lại</a>
                    <a href="#" class="btn btn-cancel-order" data-abc="true"> Hủy đơn hàng</a>

                </div>
            </div>
    </article>
</div>
<!--End Detail order tracking -->