<!-- Form Profile -->
<div class="container input-group body-content" style="padding-top: 50px; padding-bottom: 70px;">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100" style="border-radius: 3%;">
                <div class="card-body d-flex align-items-center">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="/img/traidep.png" alt="Trai đẹp">
                            </div>
                            <div class="text-center">
                                <h6>Đổi ảnh đại diện</h6>
                                <input type="file" class="form-control">
                            </div>
                            <div class="d-flex justify-content-between align-items-center mx-4 mt-4">
                                <div style="font-weight: 500; color: coral;"> Điểm thưởng:</div>
                                <div class="d-flex flex-row" style="font-weight: 600;color: coral;"> 225 điểm </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100" style="border-radius: 2%;">
                <div class="card-body">
                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="mb-2 align-center tilte-menu"
                            style="font-weight: bold; font-size: 20px;width: 100%;">Thông tin cá nhân</div>
                    </div>
                    <div class="row m-3">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="fullName ">Họ và tên</label>
                                <input type="text " class="form-control " id="fullName " value="Nguyễn Bá Thịnh An ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="eMail ">Email</label>
                                <input type="email " class="form-control " id="eMail "
                                    value="andeptraicuteso1@gmail.com ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="phone ">Số điện thoại</label>
                                <input type="text " class="form-control " id="phone " value="+84356781109 ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="birthday">Ngày sinh</label>
                                <input class="datebirth" type="date" id="birthdaytime" name="birthday"
                                    style="height: 38px;">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="mb-2 bg-dark text-light border-2 text-center"
                            style="font-weight: 500; font-size: 18px;border-radius: 10px;">Địa chỉ</div>
                    </div>
                    <div class="row m-3">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="address ">Số nhà</label>
                                <input type="name " class="form-control " id="address " placeholder="Nhập số nhà ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="street ">Đường</label>
                                <input type="name " class="form-control " id="street " placeholder="Nhập tên đường ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="sTate ">Phường / Quận</label>
                                <input type="text " class="form-control " id="district "
                                    placeholder="Nhập tên phường hoặc quận ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="form-group ">
                                <label for="city ">Thành phố</label>
                                <input type="text " class="form-control " id="city " placeholder="Nhập tên thành phố ">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="align-center ">
                                <button type="button " id="submit " name="submit " class="btn btn-primary ">Cập
                                    nhật</button>

                                <button type="button " id="submit " name="submit "
                                    class="btn btn-secondary ">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Form Profile -->