<!-- Table tracking -->
<section class="body-content" style="padding-top: 20px; padding-bottom: 150px;">
    <div class="text-center">
        <div class="col-lg-8 m-auto ">
            <h4 class="m-auto tilte-menu"><b>Tra cứu đơn hàng</b></h4>
        </div>
    </div>
    <div class="col-lg-5 col-md-7 col-sm-9 m-auto mt-4">
        <div class="input-group align-self-center">
            <input type="text" class="form-control text-dark" id="subscribeEmail "
                placeholder="Nhập Mã đơn hàng (#UC-xxxxx) để tra cứu" width="fit-content;">
            <button type="submit" class="input-group-text btn-success text-light">Tra cứu</button>
        </div>
    </div>
    <div class="container mt-4">

        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="">
                    <div class="table-responsive ">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã đơn #</th>
                                    <th>Mã khách hàng</th>
                                    <th>Trạng thái</th>
                                    <th>Tổng tiền</th>
                                    <th>Ngày tạo đơn</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr class="cell-1 border-bottom">
                                    <td>#UC-13487</td>
                                    <td>K194111517</td>
                                    <td><span class="badge bg-danger">Đang vận chuyển</span></td>
                                    <td>100.000VNĐ</td>
                                    <td>Hôm nay</td>
                                    <td class="dropdown">
                                        <div id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="detail-order-tracking.html"
                                                    style="font-size: 14px;">Chi tiết đơn hàng</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" style="font-size: 14px;">Hủy đơn hàng</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="cell-1 border-bottom">

                                    <td>#UC-13453</td>
                                    <td>K194111517</td>
                                    <td><span class="badge bg-info">Đã xác nhận</span></td>
                                    <td>100.000VNĐ</td>
                                    <td>Hôm qua</td>
                                    <td class="dropdown">
                                        <div id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="detail-order-tracking.html"
                                                    style="font-size: 14px;">Chi tiết đơn hàng</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" style="font-size: 14px;">Hủy đơn hàng</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="cell-1 border-bottom">

                                    <td>#UC-13498</td>
                                    <td>K194111517</td>
                                    <td><span class="badge bg-success">Hoàn thành</span></td>
                                    <td>100.000VNĐ</td>
                                    <td>Dec 12,2021</td>
                                    <td class="dropdown">
                                        <div id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="detail-order-tracking.html"
                                                    style="font-size: 14px;">Chi tiết đơn hàng</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" style="font-size: 14px;">Hủy đơn hàng</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="cell-1 border-bottom">

                                    <td>#UC-16499</td>
                                    <td>K194111517</td>
                                    <td><span class="badge bg-success">Hoàn thành</span></td>
                                    <td>100.000VNĐ</td>
                                    <td>Dec 11,2021</td>
                                    <td class="dropdown">
                                        <div id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="detail-order-tracking.html"
                                                    style="font-size: 14px;">Chi tiết đơn hàng</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" style="font-size: 14px;">Hủy đơn hàng</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="cell-1 border-bottom">

                                    <td>#UC-16499</td>
                                    <td>K194111517</td>
                                    <td><span class="badge bg-success">Hoàn thành</span></td>
                                    <td>100.000VNĐ</td>
                                    <td>Dec 11,2021</td>
                                    <td class="dropdown">
                                        <div id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="detail-order-tracking.html"
                                                    style="font-size: 14px;">Chi tiết đơn hàng</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" style="font-size: 14px;">Hủy đơn hàng</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Table tracking -->
